html {
  background-image: url(http://i.imgur.com/FrBtoiK.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
}

body {
display: flex;
justify-content: center;
font-family: sans-serif;
}

a, a:link, a:visited {
  text-decoration: none;
}

h1 {
  font-size: 100px;
  margin-top: 300px;
}

.wrap {
  display: flex;
  border: solid black;
  border-radius: 10px;
  margin-top: 40px;
  flex-wrap: wrap;
  width: auto;
  width: 800px;
  justify-content: center;
  margin-top: 50px;
}

.wrapbilder {
  width: 400px;
  height: 200px;
}

.container {
  border: black solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-height: 2000px;
  min-height: 1300px;
  width: 900px;
}

.headier {
  display: flex;
  flex-direction: row;
  background-image: url(http://i.imgur.com/zL4TTqq.png);
  border-bottom: black solid;
  border-width: 1px;
  height: 250px;
}

.rubrik {
  flex-grow: 0.6;
}

.invislible {
  visibility: hidden;
}

.order {
  flex-grow: 1.2;
}

.tom {
  flex-grow: 0.3;
}

.beta {
  flex-grow: 0.7;
}

.hamburgermenu {
  display: flex;
  flex-direction: row;
  background-color: lightcyan;
  flex-grow: 0;
}

.login {
  flex-grow: 0.1;
}

.register {
  flex-grow: 1.5;
  margin-top: 60px;
}

.registertext {
  font-size: 35px;
  width: 140px;
  margin-left: auto;
  margin-right: auto;
}

.logintext {
  font-size: 35px;
  width: 94px;
  margin-left: auto;
  margin-right: auto;
}

.group {
  display: flex;
  flex-direction: row;
  width: 900px;
  flex-grow: 0.08;
}

.news {
  display: flex;
  flex-direction: column;
  background-color: lightcyan;
  flex-grow: 0;
  align-items: center;
}

#hamburger {
  width: 75px;
  height: 50px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;

}

#logo {
  width: 450px;
  hyphens: 150px;
}

.container2 {
  display: flex;
  flex-direction: column;
  background-color: lightcyan;
  flex-grow: 6;
  align-items: center;
}

.du {
  margin: 100px;
  margin-top: 30px;
  border: solid black;
  border-radius: 10px;
  font-size: 20px;
}

p {
  margin: 10px;
}

.trap {
  width: 100vw;
  height: 50vw;
}

.preorder {
  padding: 10px;
  border-radius: 5px;
  background: #54CDD6;
  color: black;
  border: black solid;
  border-width: 2px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  margin: 10px;
}

.preorder:hover {
  background: #12B0BD;
}

.america {
  display: flex;
  width: 700px;
  height: 400px;
  margin: 0px;
  margin-bottom: 10px;
  border-bottom: black solid;
}

.bilder {
  display: flex;
  flex-direction: column;
  background-color: lightcyan;
  flex-grow: 1;
  margin: 75px;
  margin-top: 0px;
  align-items: stretch;
  margin-left: 125px;
}

.par1 {
  display: flex;
  flex-grow: 1.2;
  flex-direction: row;
  margin-bottom: 5px;
  justify-content: space-around;
  margin-bottom: 20px;
}

.bild1 {
  flex-grow: 1;
  margin: 10px;
  border: black solid;
  border-radius: 15px;
  border-width: 4px;
  align-items: stretch;
  margin-left: 20px;
  height: 350px;
  width: 300px;
}

.bild2 {
  flex-grow: 1.15;
  margin: 10px;
  border: black solid;
  border-radius: 15px;
  border-width: 4px;
  align-items: stretch;
  width: 325px;
  height: 350px;
}

.bild4 {
  flex-grow: 1;
  margin: 10px;
  border: black solid;
  border-radius: 15px;
  border-width: 4px;
  height: 200px;
  width: 662px;
  margin-left: 70px;
  margin-bottom: 85px;
}

.bild3 {
  flex-grow: 1;
  margin: 10px;
  border: black solid;
  border-radius: 15px;
  border-width: 4px;
  margin-left: 20px;
  height: 400px;
  width: 662px;
  margin-bottom: 28px;
}

.temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
  background-color: lightcyan;
}

h2 {
  font-size: 35px;
  margin: 0px;
}

h3 {
  font-size: 40px;
  margin: 0px;
  margin-top: 10px;
  margin-left: 5px;
}

.clearfix:after {
    display:block;
    clear:both;
}

.clearfix {
  padding: 0px;
  height: 0px;
  width: 0px;
}

/*----- Menu Outline -----*/

.menu a {
    transition:all linear 0.15s;
    color:#919191;
}

.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#be5b70;
}

/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}

.menu > ul > li > a {
    padding-right: 200px;
    padding-left: 20px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}

.menu > ul > li.active > a, .menu > ul > .current-item > a {
    background:#2e2728;
}

/*----- Bottom Level -----*/
.menu li.active .sub-menu {
    z-index:1;
    opacity:1;
}

.sub-menu {
    width: 100%;
    padding: 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}

.sub-menu li {
    display:block;
    font-size:16px;
}

.sub-menu li a {
    padding:10px 30px;
    display:block;

}

.sub-menu li a:hover, .sub-menu .current-item a {
    background:#3e3436;
}

ul {
  margin: 0px;
}

a {
  font-size: 20px;
}

.search-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.search-form input {
    width: 250px;
    height: 40px;
    padding: 0px 8px;
    margin-top: 20px;
    border-radius: 2px 0px 0px 2px;
    font-size: 17px;
}

.search-form2 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.search-form2 input {
    width: 250px;
    height: 40px;
    padding: 0px 8px;
    margin-top: 30px;
    border-radius: 2px 0px 0px 2px;
    font-size: 17px;
}

.forgot {
  font-size: 12px;
  margin: 10px;
  margin-left: 166px;
  color: blue;
  width: auto;
}

.forgot2 {
  font-size: 12px;
  margin: 10px;
  margin-left: 170px;
  color: blue;
  width: auto;
}

.btn-action {
    background: #5c69ff;
    border: none;
}

.btn {
    background: #5c69ff;
    border: none;
    padding: 15px 30px;
    color: #F2F2F2;
    text-decoration: none;
    outline: 0;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 2px;
    font-size: 14px;
    font-family: sans-serif;
    margin: 10px;
    margin-left: 90px;
}

.btn2 {
    background: #5c69ff;
    border: none;
    padding: 15px 30px;
    color: #F2F2F2;
    text-decoration: none;
    outline: 0;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 2px;
    font-size: 14px;
    font-family: sans-serif;
    margin: 10px;
    margin-left: 90px;
    margin-top: 40px;
}
