html {
  background-image: url(http://i.imgur.com/FrBtoiK.jpg);
}

body {
display: flex;
justify-content: center;
}

.container {
  border: black solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-height: 2000px;
  min-height: 1300px;
  width: 900px;
}

.headier {
  display: flex;
  flex-grow: 27;
  flex-direction: row;
  background-image: url(http://i.imgur.com/zL4TTqq.png);
  border-bottom: black solid;
  border-width: 1px;
}

.headier2 {
  display: flex;
  flex-grow: 17.5;
  flex-direction: row;
  background-image: url(http://i.imgur.com/zL4TTqq.png);
  border-bottom: black solid;
  border-width: 1px;
}

.rubrik {
  flex-grow: 0.6;
}

.invislible {
  visibility: hidden;
}

.order {
  flex-grow: 1.2;
}

.tom {
  flex-grow: 0.3;
}

.beta {
  flex-grow: 0.7;
}

.menu {
  display: flex;
  flex-direction: row;
  background-color: lightcyan;
  flex-grow: 0;
}

.menu2 {
  display: flex;
  flex-direction: row;
  background-color: grey;
  flex-grow: 4.85;
  border: solid black;
  border-radius: 2px;
  border-top-width: 2.5px;
  border-left-width: 2.5px;
}

.temp3 {
  flex-grow: 1;
  margin-top: 110px;
  margin-left: 10px;
}

.group {
  display: flex;
  flex-direction: row;
  width: 900px;
  flex-grow: 0.08;
}

.news {
  display: flex;
  flex-direction: column;
  background-color: lightcyan;
  flex-grow: 31;
  align-items: center;
}

#hamburger {
  width: 75px;
  height: 50px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;

}

#logo {
  width: 450px;
  hyphens: 150px;
}

.container2 {
  display: flex;
  flex-direction: column;
  background-color: lightcyan;
  flex-grow: 6;
}

.bilder {
  display: flex;
  flex-direction: column;
  background-color: lightcyan;
  flex-grow: 1;
  margin: 75px;
  margin-top: 40px;
  align-items: stretch;
  margin-left: 125px;
}

.par1 {
  display: flex;
  flex-grow: 1.2;
  flex-direction: row;
  margin-bottom: 5px;
  justify-content: space-around;
}

.par2 {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  margin-bottom: 5px;
  justify-content: space-around;
}

.bild1 {
  flex-grow: 1;
  margin: 10px;
  border: black solid;
  border-radius: 15px;
  border-width: 4px;
  align-items: stretch;
  margin-left: 20px;
  height: 350px;
  width: 300px;
}

.bild2 {
  flex-grow: 1.15;
  margin: 10px;
  border: black solid;
  border-radius: 15px;
  border-width: 4px;
  align-items: stretch;
  width: 325px;
  height: 350px;
}

.bild4 {
  flex-grow: 1;
  margin: 10px;
  border: black solid;
  border-radius: 15px;
  border-width: 4px;
  height: 200px;
  width: 662px;
  margin-left: 70px;
  margin-bottom: 85px;
}

.bild3 {
  flex-grow: 1;
  margin: 10px;
  border: black solid;
  border-radius: 15px;
  border-width: 4px;
  margin-left: 20px;
  height: 400px;
  width: 662px;
  margin-bottom: 28px;
}

.temp {
  flex-grow: 2;
  background-color: lightcyan;
}
